

{% extends 'base.html' %}
{% load static %}
{% block additional_styles %}
<style>

    .product-container{
      display:flex;
      flex-wrap:wrap;
       width:100%;
      justify-content:center
    } 
    .product-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      border: 1px solid lightgray;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      margin: 20px;
        background-color: white; 
      
      padding-bottom:1%
    
    }
    
    .product-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    
    .product-name {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 10px 0;
      text-align: center;
    }
    
    .product-description {
      font-size: 0.875rem;
      margin: 10px 0;
      text-align: center;
    }
    
    .product-price {
      font-size: 1.125rem;
      font-weight: bold;
      margin: 10px 0;
      color: orange;
    }
    
    .add-to-cart-button {
      padding: 10px 20px;
      background-color: orange;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 0.875rem;
      cursor: pointer;
    }
    
    .add-to-cart-button:hover {
      background-color: darkorange;
    }
    
    .product-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     }
    .original-price {
      text-decoration: line-through;
      color: lightgray;
      font-size: 0.875rem;
    }
    
    .discount-price {
      color: orange;
      font-size: 1.125rem;
      font-weight: bold;
    }
    </style>
    <script>
      function myfucn() {
        alert("I am an alert box!");
      }
      </script>
      

{% endblock additional_styles %}


{% block content %}
{% load cart %}

<div class="product-container">

  {% for data in data %}

    <div class="product-card">  
      <img  src="{{ data.image.url }}" alt="home" class="product-image" >
      <h3 class="product-name">{{ data.product_name }}</h3>
      <p class="product-description">{{ data.highlights }}</p>
      <div class="product-price">${{ data.price }}</div>
      {{data | is_in_cart:request.session.cart}}
     
      <!-- <div class="card-footer p-0 no-gutters"> -->
      <!-- {% if data|is_in_cart:request.session.cart %}
      
      <div class="row no-gutters">
        <form action="/#{{data.product_id}}" class="col-2 " method="post">
          {% csrf_token %}
          <input hidden type="text" name='product' value='{{data.product_id}}'>
          <input hidden type="text" name='remove' value='True'>
          <input type="submit" value=" - " class="btn btn-block btn-light border-right">
        </form>
        <div class="text-center col">{{data|cart_quantity:request.session.cart}} in Cart</div>
        <form action="/#{{data.product_id}}" class="col-2 " method="post">
          {% csrf_token %}
          <input hidden type="text" name='product' value='{{data.product_id}}'>
          <input type="submit" value=" + " class="btn btn-block btn-light border-left">
        </form>

      </div>

      {% else %} -->
      <form action="/" method='POST'>
        {% csrf_token %}
        <input hidden type="text" name="product_id" value="{{data.product_id}}">   
        <input  type="submit" class="add-to-cart-button" value="Add to Cart">

      </form>

      <!-- {% endif %} -->
      

      <!-- </div> -->
    
      
    </div>
    
    {% endfor %}
   

    </div>
    
   

{% endblock %}
